.main .total-amount{
    background: var(--green);
}
.main .total-amount::before{
    content: '';
    position: absolute;
    top: -38px;
    right: -42px;
    width: 100px;
    height: 100px;
    background: hsl(160, 100%, 40%);
    border-radius: 50%;
    z-index: -1;
}
.main .total-amount::after{
    content: '';
    position: absolute;
    top: -42px;
    right: -15px;
    width: 100px;
    height: 100px;
    background: hsl(160, 100%, 40%);
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}
.main .amount_in-bank{
    background: var(--primary-color);
}
.main .amount_in-bank::before{
    content: '';
    position: absolute;
    top: -38px;
    right: -42px;
    width: 100px;
    height: 100px;
    background: hsl(255, 61%, 39%);
    border-radius: 50%;
    z-index: -1;
}
.main .amount_in-bank::after{
    content: '';
    position: absolute;
    top: -42px;
    right: -15px;
    width: 100px;
    height: 100px;
    background: hsl(255, 61%, 39%);
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}
.main .cash_in-hand{
    background: var(--secondary-color);
}
.main .cash_in-hand::before{
    content: '';
    position: absolute;
    top: -38px;
    right: -42px;
    width: 100px;
    height: 100px;
    background: hsl(212, 80%, 42%);
    border-radius: 50%;
    z-index: -1;
}
.main .cash_in-hand::after{
    content: '';
    position: absolute;
    top: -42px;
    right: -15px;
    width: 100px;
    height: 100px;
    background: hsl(212, 80%, 42%);
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}
/* --------FINANCE TABLE------------ */
.data-info .finegrid{
    display: grid;
    grid-template-columns: 4rem repeat(5, minmax(0, 1fr)) 1.5rem;
    align-items: center;
    justify-items: flex-start;
    gap: 10px;
}

.fdata.open{
    margin-top: 0;
}
.totalf{
    position: relative;
}
.totalf span.maka{
    /* width: 15px; */
    /* display: inline-block; */
    /* position: absolute; */
    /* top: 1px; */
    font-size: 10px;
    display: block;
    color: var(--grey);
    user-select: none;
}

.adata .finance_expand{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}
.finance_expand .installment{
    justify-content: space-between;
    outline: 1px solid var(--primary-outline);
    background: var(--primary-bg);
    padding: 0.5rem;
    border-radius: var(--border-radius-1);
}
.installment .field{
    
}
.installment .field p:first-child{
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-color);
}
.installment .field p:last-child{
    font-size: 14px;
}
/* ------------RESONSIVE KIHINI IYAT LIKHISU DEII-------------------- */
@media only screen and (max-width : 768px){
    .data-info :is(.finegrid){
        grid-template-columns: 1fr;
    }
    .data-info .misgrid{
        grid-template-columns: 1fr 1fr;
    }
}